<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	 
<!-- 	 <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 	 <bean id="datasource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource"> -->
	 <bean id="datasource" class="org.apache.commons.dbcp2.BasicDataSource">
	 	<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
	 	<property name="url" value="jdbc:sqlserver://localhost;database=JAVA_AVANCE"></property>
	 	<property name="username" value="sa"></property>
	 	<property name="password" value="Pa$$w0rd"></property>
	 	
	 	<property name="initialSize" value="2"></property>
	 	<property name="maxTotal" value="8"></property>
	 	<property name="minIdle" value="8"></property>
	 </bean>
</beans>	    

